body{
  background-color: #282c34;
  color: #ffffff;
  font-size: larger;
}

.box{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  overflow-wrap: anywhere;

}
.input{
  text-align: center;
  background-color: #4c5a63;
  border: #282c34;
  border-radius: 4px;
  font-size: larger;
  color: white;
  display: inline-flex;

}
.buttons {
  margin: 8px;
  display: flex;
  justify-content: space-between;
  width: 25vw;

}
.fetch-button {
  display: inline-block;
  background-color: #ab5dcd;
  margin: 8px;
  padding: 4px;
  border: #bf5fff solid 1px;
  border-radius: 4px;
  cursor: pointer;
}
.fetch-button:hover{
  background-color: #bf5fff;
}
.fetch-button:active{
  background-color: #8457ac;
}
